@model Heldu.Models.Vendedor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    <div class="row">
        @foreach (ProductoVendedor productoVendedor in Model.ProductoVendedor)
        {
            <div class="card col-sm-4">
                <img class="card-img-top" src="@productoVendedor.Producto.ImagenProducto" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@productoVendedor.Producto.Titulo</h5>
                    <p class="card-text">@productoVendedor.Producto.Descripcion</p>
                    <p class="card-text">@productoVendedor.Producto.FechaValidez</p>
                    <p class="card-text">@productoVendedor.Producto.Precio €</p>
                </div>
                @if (UserManager.GetUserId(User) == Model.IdentityUserId)
                {
                    <a asp-controller="Productos" asp-action="Edit" asp-route-id="@productoVendedor.Producto.Id">Editar</a>
                    <a asp-controller="Productos" asp-action="Details" asp-route-id="@productoVendedor.Producto.Id">Detalles</a>
                    <a asp-controller="Productos" asp-action="Delete" asp-route-id="@productoVendedor.Producto.Id">Eliminar</a>
                }
            </div>
        }
    </div>
